.generic-content-container {
  p {
    line-height: 1.65;
    margin: 0 0 1.8rem 0;
    font-weight: 300;

    @mixin atSmall {
      font-size: 1.1rem;
    }
  }

  p a {
    font-weight: 700;
  }
}
