.page-section {
  padding: 0.5rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background-color: $mainBlue;
    color: #fff;
  }

  &--testimonials {
    background-color: #e0e6ef;
    @mixin atLarge {
      background: url("/assets/images/testimonials-bg.jpg") no-repeat top
        center/cover;
    }
  }
}
