.section-title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-size: 3.5rem;
  }
  strong {
    font-weight: 500;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;

    @mixin atSmall {
      position: relative;
      top: 10px;
      margin-right: 1.5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }

  &--blue {
    color: $mainBlue;
  }

  &--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }
}
